.App {
  text-align: center;
}

.App-logo {
  height: 500px;
  margin-top:-150px;
  margin-bottom:-150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ecc3d7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 4vmin);
  color: rgb(31, 11, 11);
}

.App-link {
  color: #ecc3d7;
}

.App-icon {
  height: 150px;
  width:auto;
  margin-left:210px;
  margin-top: -150px;
  
  
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #913662;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 20px;
}
.button-link:hover {
  background-color: #5a1437; 
}





