.App {
    background-color: #ecc3d7; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }

  .profile-page-background {
    background-color: #ecc3d7;
  }

.profile-container {
    background-color: #ecc3d7;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 2vmin);
    color: rgb(31, 11, 11);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  
  .profile-picture {
    height: 80px;
    width: 80x; 
    border-radius: 30%; 
    margin-right: 40px; 
    margin-left: 40px;
  }
  
  .profile-bio {
    margin-top: 20px; 
    text-align: center;
    width: 100%;
  }
  